.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}
.Content {
  background-color: red;
  min-width: 500px;
}
.App-header {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

div.arena_current_level {
  background-color: rosybrown;
}

div.header_detail {
  color: antiquewhite;
}

span.arena_label {
  font-weight: bold;
}

div.lock_list {
  cursor: pointer;
}

div[status="locked"] {
  background-color: gray;
}

span[status="locked"] {
  background-color: gray;
}

p.warning {
  background-color: mediumpurple;
}

.error_message {
  background-color:#bbb ;
  color: #a00;
}

img.mastery_icon {
  width: 48px;
}

img.marker_icon {
  height: 32px;
}

img.artifact_icon {
  height: 70px;
  width: 70px;
  border-width: thick;
  border-style: solid;
  background-color: #444;
  object-fit: contain;
}

img.artifact_icon[rarity="Common"] {
  border-color: #AEAEAE;
}

img.artifact_icon[rarity="Uncommon"] {
  border-color: #19D041;
}

img.artifact_icon[rarity="Rare"] {
  border-color: #2697FF;
}

img.artifact_icon[rarity="Epic"] {
  border-color: #E74AFF;
}

img.artifact_icon[rarity="Legendary"] {
  border-color: #EE8100;
}

span.has_popover {
  color: blue;
}

ul.mastery_list {
  text-align: left;
}

ul.substats {
  text-align: left;
}

.bonus_popover {
  background-color: aliceblue;
}

div.help_page img {
  border-style: solid;
  border-width: thin;
  border-color: gray;
}

div.artifact_rune {
  display: inline-block;
}

div.artifact_rune div.primary {
  display: inline;
  font-weight: bold;
}

div.artifact_rune div.container {
  width: 70px;
  height: 70px;
  display: inline-block;
  vertical-align: middle;
  position: relative;
}

.artifact_card {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  opacity: 1.0;
}

div.stars_overlay {
  z-index: 3;
  top: 1px;
  opacity: 1.0;
  height:20px;
  text-align: left;
  color: gold;
  background-image: none;
  font-size:18px;
  left: 8px;
  cursor:default;
}

img.artifact_star {
  height:16px;
  vertical-align: baseline;
}

div.level_overlay {
  z-index: 4;
  top: 40px;
  opacity: 1.0;
  height:24px;
  text-align: right;
  color: white;
  background-image: none;
  font-size:20px;
  left:-6px;
  cursor:default;
}

img.meatball {
  z-index: 8;
  opacity: 1.0;
  height:20px;
  width:20px;
  top:44px;
  left: 5px;
}

img.champion_avatar {
  margin-right: 1em;
}

img.champion_avatar_small {
  height: 64px;
  object-fit: contain;
}

div.rank_specifier div.ant-select-selector {
  width: 80px;
}

button.is_lower_bound {
  padding-left: 0.4em;
  padding-right: 0.4em;
}

button.is_lower_bound span {
  background-color: white;

}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
